@CHARSET "UTF-8";
.formtable {
	width: 600px;
	padding: 10px;
	border: 1px solid blue;
}
 .test + .tooltip > .tooltip-inner {
      background-color: #73AD21; 
      color: #FFFFFF; 
      border: 1px solid green; 
      padding: 15px;
      font-size: 20px;
  }
  /* Tooltip on top */
  .test + .tooltip.top > .tooltip-arrow {
      border-top: 5px solid green;
  }
  /* Tooltip on bottom */
  .test + .tooltip.bottom > .tooltip-arrow {
      border-bottom: 5px solid blue;
  }
  /* Tooltip on left */
  .test + .tooltip.left > .tooltip-arrow {
      border-left: 5px solid red;
  }
  /* Tooltip on right */
  .test + .tooltip.right > .tooltip-arrow {
      border-right: 5px solid black;
  }
.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
table.offers {
	padding: 20px;
	border: 1px solid gray;
}

input[type=text] {
	width: 250px;
	
}

input[type=password] {
	width: 250px;
	
}

textarea {
	width: 250px;
	height: 300px;
}

.label {
	text-align: right;
	vertical-align: top;
}

.control {
	margin-left: 10px;
}

.error {
	font-size: small;
	color: red;
	margin-left: 10px;
}

.valid {
	font-size: small;
	color: green;
	margin-left: 10px;
}

table.offers {
	padding: 20px;
	border: 1px solid gray;
}

p.error {
	font-size: medium;
}

div.footer {
	font-size: small;
	color: gray;
}

div.content {
	position: relative;
	padding: 40px;
}

div.header {
	position: relative;
	text-align: center;
	
	width: 100%;
	height: 80px;
	background-color: #428bca;
}
div.indicatormessage {
	color:white;
	background-color: blue;
}
div.duplicateerror {
	color:white;
	background-color: red;
}
div.header img {
	text-align: left;
	width: 110px;
	height: 70px;
	
}
a.login {
	position: absolute;
	top: 10px;
	right: 10px;
	color:white;
}
span.login {
	position: absolute;
	top: 10px;
	right: 90px;
	color:white;
}
a.title {
	color: white;
	font-size: 35px;
}
input.delete {
	border: 1px solid red;
}
.message {
	margin-bottom: 20px;
	border-bottom: 1px dashed brown;
}

span.subject {
	font-size: large;
	color: brown;
	font-weight: bold;
}

span.messagebody {
	display: block;
	font-style: italic;
}

span.name {
	color: brown;
	font-size: medium;
}
form.replyform {
	padding: 20px;
	display:none;
}

textarea.replyarea {
	width: 400px;
	height: 250px;
}

input.replybutton {
	display: block;
	font-size: large;
	border: 1px solid gray;
}
a.replylink:link {
    color: brown;
}
span.alert {
	display: block;
	font-weight: bold;
	color: green;
}	
div.ss-form-entry table{
background:#fff;
width:100%;
margin: 0 0 1.125em;
border-collapse:collapse;
border-spacing: 0;
border: 0px;
width: auto; 
}
div.ss-form-entry table tr:nth-child(odd){
	background-color:#DBE5F1;
}
h4.ss-attr-desc {
	display:block;
	font-family:Arial;
	font-size:20px;
	font-weight: bold;
	
}
div.ss-form-entry table td{
font-family:Arial;
font-size:16px;
padding: 15px 25px 15px 0; 
}
p.ss-par {
	font-family:Arial;
	font-size: 16px;
} 
input[type="radio"]{
	box-sizing: border-box;
	padding: 0;
	display:inline;
	background-color:red;
}
.errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}
.submitButton {
	color:white;
	background:#428bca;
	border: 1px solid;
	font-family:Arial;
	font-size: 16px;
	
}	
}